* {
  padding: 0;
  margin: 0;
  /* background-color: black; */
  color: white;
}

.navbar {
  width: 100%;
  height: 4rem;
  background: #000;
  text-align: center;
  display: flex;
  color: white;
}

.navbar img {
  width: 14%;
  margin-left: 2%;
}

.links {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.navbar svg {
  color: white;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  padding: 17px;
  margin-right: 30px;
}

/* Media Query for Responsive Styles */
@media only screen and (max-width: 768px) {
  .navbar img {
    width: 20%;
    margin-left: 0;
  }

  .links {
    flex-direction: row;
    align-items: center;
  }

  .links a {
    margin: 0 1rem 0 0;
    font-size: 1rem;
  }

  .navbar svg {
    margin-right: 0;
  }
}
 

.list {
  height: 657px;

  width: 100%;
  background-color: red;
}

.tvshows {
  height: 657px;

  width: 100%;
  background-color: powderblue;
}

.recently {
  height: 657px;

  width: 100%;
  background-color: green;
}

.movies {
  height: 657px;
  width: 100%;
  background-color: orange;
}